*{
    margin: 0;
    padding: 0;
}

body 
{
    background-color: rgb(0, 38, 109);
}

.canvas-container 
{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.point-speed-container
{
    width: 200px;
    height: 200px;
    font-size: 30px;
    background-color: yellow;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.point-speed-container > div 
{
    margin: 5px;
}